/vendor
/node_modules

31-05-26.zip
henichemicals_old/

.env
.env.*

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

*.log
error_log

*.zip
*.rar
*.tar
*.gz

.idea/
.vscode/
