@media only screen and (max-width: 1499px) {
	.banner-carousel .content-box .special-text {
		font-size: 170px;
		line-height: 170px;
	}

	/*.banner-section .line-box{
    display: none;
  }*/
}

@media (max-width: 1200px) {
	.banner-carousel .owl-nav {
		display: none;
	}

	.banner-carousel .owl-dots {
		left: 80px;
	}

	.banner-style-three .owl-nav,
	.banner-style-three .owl-dots {
		display: none;
	}

	.banner-style-three {
		padding-top: 150px;
	}
}

@media (max-width: 1190px) {
	.social-icon a {
		width: 30px;
		height: 30px;
	}

	.event-img1 {
		position: absolute;
		top: 340px;
	}

	.product_title h4 {
		font-size: 20px;
	}

	.product_title h5 {
		font-size: 15px;
	}

	.product_brand p {
		font-size: 13px;
		line-height: 16px;
	}

	/*.product_item {
    padding: 10px 20px;
	}*/
	.products_page_img {
		margin-bottom: 30px;
	}

	.other_applications {
		overflow: hidden;
	}
}

@media (max-width: 991px) {
	.product_title h4 {
		font-size: 17px;
	}

	.other_applications {
		overflow: hidden;
	}

	.topbar-section:after {
		display: none;
	}

	.topbar-links {
		float: none;
	}

	.topbar-info ul {
		margin-bottom: 15px;
	}

	.banner-carousel .content-box {
		margin-left: 30px;
	}

	.banner-carousel .owl-dots {
		display: none;
	}

	.banner-carousel .content-box h2 span:before {
		display: none;
	}

	.banner-section .text-box {
		display: none;
	}

	.banner-style-two .inner-box {
		padding: 220px 0px 150px 0px;
	}

	.banner-style-two .owl-dots {
		display: none;
	}

	.event-img1,
	.event-img2 {
		top: 20px;
		position: relative;
		transform: translate3d(0px, 0px, 0px) !important;
	}

	.footer-social li {
		display: inline-block;
		position: relative;
	}

	.banner-carousel .content-box h2 {
		font-size: 40px;
		line-height: 45px;
		padding-top:20px;
		/*height: 100px;*/
	}

	.pbmit-ihbox-style-7 {
		margin-bottom: 30px;
	}

	.iconBox01 {
		margin-bottom: 20px;
	}

	.aboutImg img {
		margin-top: 20px;
	}

	.history-text img {
		height: 200px;
		object-fit: cover;
		padding: 0px;
	}

	.expCounter {
		left: 50px;
	}

	.contact-one-wrap .page-title {
		padding-top: 50px;
	}

	.mobile-bro-btn {
		display: block;
	}

	.desktop-bro-btn {
		display: none;
	}

	/*.main_menu .mobile-menu-trigger{
		margin-left: 100px;
	}*/
	.reverse_col {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.main_menu .item-left,
	.main_menu .item-right {
		flex: 0 0 50%;
		padding: 0px 10px;
	}

	.breadcrum-content h1 {
		color: #fff;
		font-size: 30px;
	}

	.newsletter-box1 i {
		width: 32px;
		height: 32px;
		font-size: 13px;
	}

	.topbar-info ul {
		margin-bottom: 0px;
	}

	.topbar-info ul li a {
		font-size: 15px;
	}

	.topbar-links ul li a {
		font-size: 15px;
	}

	.topbar-section {
		display: none;
	}

	.banner-section {
		margin-top: 70px;
	}

	.banner-carousel .slide-item {
		padding: 150px 0px;
	}

	.breadcrum-banner {
		margin-top: 70px;
	}

	.testCatItem {
		margin-bottom: 20px;
	}

	.testCatItem h3 {
		font-size: 17px;
		margin: 0 0 5px;
		height: 60px;
	}

	.testCatItem {
		padding: 10px;
	}

	.careers-wrap-one {
		padding: 100px 0px;
		background-attachment: unset;
	}

	.career-title-one h3 {
		font-size: 40px;
		line-height: 50px;
	}

	.career-title h3 {
		margin-bottom: 20px !important;
	}

	.products-details-area {
		padding: 80px 0px 250px;
		background-position: bottom right;
		/*background-size: cover;*/
	}

	.products-details-title {
		padding: 0px;
		/*border-radius: 20px;
		background: #ffffffc4;*/
		width: 100%;
		/*box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;*/
	}

	.products-details-title h4 {
		font-size: 25px;
	}

	.products-details-title h3 {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.other_applications .service-block-one .inner-box .lower-content {
		height: auto;
	}

	.products-details-title h6 {
		font-size: 15px;
	}

	#remaining-app-popup .modal-dialog {
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		transform: unset;
	}

	#remaining-app-popup .service-block-one .inner-box .lower-content {
		height: auto;
	}

	.remaining-app-title h2 {
		text-align: center;
		line-height: 30px;
		font-size: 22px;
	}

	.application-popup-row {
		justify-content: unset;
		display: unset;
	}

	.other_applications_row {
		justify-content: unset;
		display: unset;
	}

	.service-block-one {
		margin-bottom: 20px !important;
	}

	.product-breadcrum-content ul {
		padding: 0px;
	/*	background: #ffffffc4;*/
	}

	.product-breadcrum-content ul li a {
		/*font-size:14px;*/
	}

	.product-breadcrum-content ul li:after {
		padding: 0px 5px;
	}

	.products-details-title h4 {
		font-size: 22px;
	}

	.products-details-title h3 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.related_product_sec .owl-theme .owl-dots {
		display: block;
	}

	.related_product_sec .owl-theme .owl-dots .owl-dot span {
		width: 15px;
	}

	.related_product_sec .owl-theme .owl-dots .owl-dot.active span,
	.related_product_sec .owl-theme .owl-dots .owl-dot:hover span {
		width: 15px;
	}

	/*.application-area .owl-theme .owl-dots .owl-dot span{
        width:15px;
    }
    .application-area .owl-theme .owl-dots .owl-dot.active span, .related_product_sec .owl-theme .owl-dots .owl-dot:hover span{
        width:15px;
    }*/

	.product_group .list-three-col {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}
	.aboutImg{
        text-align:left;
    }
	.aboutImg img {
		margin-top: 20px;
		width:100%;
	}
}

@media (max-width: 768px) {
    .download_title h3{
        font-size:17px;
    }
    .two-pdf-files {
        padding: 10px 20px;
    }
    .download_title.four-pdf-files h3{
        font-size:17px;
    }
	.certificate-sec {
		padding-top: 0px;
	}

	.contact-map-wrap {
		padding: 0px;
	}

	#remaining-app-popup .service-block-one .inner-box .lower-content h3 {
		font-size: 16px;
	}

	.other_applications .service-block-one .inner-box .lower-content h3 {
		height: 40px;
	}

	.service-block-one .inner-box {
		margin: 0px;
		padding: 0px;
	}

	.product_group .list-three-col {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}

	.google_map iframe {
		height: 200px !important;
	}

	.product_title h4 {
		font-size: 17px;
	}

	.product-breadcrum-content ul {
		padding: 0px;
		/*background: #ffffffdb;*/
	}

	.product-breadcrum-content ul li a {
		/*font-size:14px;*/
	}

	.product-breadcrum-content ul li:after {
		padding: 0px 5px;
	}

	.service-block-one {
		margin-bottom: 20px !important;
	}

	.application-popup-row {
		justify-content: unset;
		display: unset;
	}

	.other_applications_row {
		justify-content: unset;
		display: unset;
	}

	.remaining-app-title h2 {
		text-align: center;
		line-height: 30px;
		font-size: 22px;
	}

	#remaining-app-popup .service-block-one .inner-box .lower-content {
		height: auto;
	}

	#remaining-app-popup .modal-dialog {
		width: 100%;
		position: relative;
		top: 0px;
		left: 0px;
		transform: unset;
	}

	.products-details-area {
		padding: 80px 0px 250px;
		background-position: bottom right;
		/*background-size: cover;*/
	}

	.products-details-title {
		padding: 0px;
		border-radius: 20px;
		/*background: #ffffffdb;*/
		width: 100%;
		/*box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;*/
	}

	.products-details-title h4 {
		font-size: 22px;
	}

	.products-details-title h3 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.other_applications .service-block-one .inner-box .lower-content {
		height: auto;
	}

	.products-details-title h6 {
		font-size: 15px;
	}

	.second-product-info {
		margin-bottom: 30px;
	}

	.product_info {
		height: auto;
	}

	.career-title h3 {
		font-size: 30px;
		line-height: 34px;
		margin-bottom: 20px !important;
	}

	.careers-wrap-one {
		padding: 50px 0px;
		background-attachment: unset;
	}

	.career-title-one h3 {
		font-size: 30px;
		line-height: 35px;
	}

	.testCatItem {
		padding: 10px;
	}

	.testCatItem h3 {
		font-size: 17px;
		margin: 0 0 5px;
		height: 60px;
	}

	.product_sublink ul li {
		font-size: 14px;
	}

	.product_sublink ul li {
		padding-right: 5px;
		margin-right: 0px;
	}

	.product_title h5 {
		font-size: 15px;
	}

	.product_brand p {
		font-size: 13px;
		line-height: 16px;
		height: auto;
	}

	.product_brand_details {
		/*height: 118px;*/
	}

	.product_sublink {
		padding-top: 0px;
		margin-top: 0px;
	}

	.product_item {
		padding: 5px;
	}

	.products_page_img {
		margin-bottom: 30px;
	}

	.breadcrum-content ul {
		display: block;
	}

	.breadcrum-content ul li {
		display: block;
	}

	.products_details_img img {
		margin-bottom: 30px;
	}

	.products_detail_text .list-two-col {
		columns: 1;
		-webkit-columns: 1;
		-moz-columns: 1;
	}

	.products_detail_text {
		margin-top: 20px;
	}

	.related_product_sec .owl-theme .owl-dots {
		display: block;
	}

	.related_product_sec .owl-theme .owl-dots .owl-dot span {
		width: 15px;
	}

	.related_product_sec .owl-theme .owl-dots .owl-dot.active span,
	.related_product_sec .owl-theme .owl-dots .owl-dot:hover span {
		width: 15px;
	}

	/*.application-area .owl-theme .owl-dots .owl-dot span{
        width:15px;
    }
    .application-area .owl-theme .owl-dots .owl-dot.active span, .related_product_sec .owl-theme .owl-dots .owl-dot:hover span{
        width:15px;
    }*/
	.related_product_sec {
		padding: 0px 0px 30px;
	}

	.breadcrum-banner {
		margin-top: 54px;
	}

	.testCatItem {
		margin-bottom: 20px;
	}

	.pbmit-button-icon img {
		width: 30px;
	}

	.event-sec-two .pbmit-category-date-wraper {
		display: block;
	}

	.event-sec-two .pbmit-blog-style-1 .pbmit-content-wrapper {
		margin-top: 0px;
	}

	.event-sec-two .pbmit-blog-style-1 .pbmit-meta-line i {
		font-size: 10px;
	}

	.event-sec-two .pbmit-blog-style-1 .pbmit-meta-line,
	.event-sec-two .pbmit-blog-style-1 .pbmit-meta-line a {
		font-size: 10px;
	}

	.event-sec-two .pbmit-blog-style-1 .pbmit-meta-line {
		margin-right: 3px;
		margin-bottom: 0px;
	}

	.event-sec-two .pbmit-blog-style-1 .pbmit-post-title {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 5px;
	}

	.event-sec-two .pbmit-content-wrapper p {
		font-size: 14px;
		line-height: 20px;
	}

	.event-sec-two .overlay_effect.is_show .overlay_effect_in {
		display: block;
	}

	.event-sec-two .pbmit_content {
		/*padding: 10px;*/
		height: 170px;
	}

	.pbmit-blog-style-1 .pbmit-blog-btn {
		width: 55px;
		height: 55px;
		right:12px;
		bottom:12px;
	}

	.service-block-one .inner-box .image-box .icon-box {
		width: 55px;
		height: 55px;
		right: 12px;
        bottom: 12px;
	}

	.service-block-one .inner-box .image-box .icon-box:before {
		width: 55px;
		height: 55px;
	}

	.service-block-one .inner-box .image-box .icon-box img {
		width: 30px;
	}

	.banner-section {
		margin-top: 54px;
	}

	.topbar-section {
		display: none;
	}

	.newsletter-box1 i {
		width: 32px;
		height: 32px;
		font-size: 13px;
	}

	.event-sec-two .nav-tabs>li.active>a img,
	.event-sec-two .nav-tabs>li>a img {
		width: 30px;
	}

	.breadcrum-content h1 {
		color: #fff;
		font-size: 25px;
	}

	.main_menu .item-left,
	.main_menu .item-right {
		flex: 0 0 50%;
		padding: 0px 10px;
	}

	/*.main_menu .mobile-menu-trigger{
		margin-left: 100px;
	}*/
	.mobile-bro-btn {
		display: block;
	}

	.desktop-bro-btn {
		display: none;
	}

	.contact-one-wrap .page-title {
		padding-top: 50px;
	}

	.iconBox01 {
		margin-bottom: 20px;
	}
    .aboutImg{
        text-align:left;
    }
	.aboutImg img {
		margin-top: 20px;
		width:100%;
	}

	.history-text img {
		height: 200px;
		object-fit: cover;
		padding: 0px;
	}

	.service-block-one .inner-box .lower-content h3 {
		font-size: 20px;
		line-height: 25px;
		/*	height: 42px;*/
	}

	.service-block-one .inner-box .lower-content {
		/*	padding: 10px;*/
		height: 75px;
	}

	.service-block-one .inner-box .lower-content h6 {
		font-size: 13px;
	}

	.service-block-one .inner-box .lower-content p {
		font-size: 13px;
		line-height: 17px;
	}

	.newsletter-sec {
		padding: 0px 0px 0px;
	}

	.newsletter-row {
		padding-bottom: 0px;
	}

	.newsletter-box2 h2 {
		font-size: 20px;
		line-height: 30px;
		margin: 18px 0px;
	}

	.newsletter-box1 h2 {
		font-size: 20px;
		line-height: 30px;
	}

	.pbmit-blog-style-1 .pbmit-blog-btn {
		/*bottom: 4px;
		right: 4px;*/
	}

	.button-2 {
		padding: 5px 15px 5px 15px;
		font-size: 13px;
	}

	.page-title h2 {
		font-size: 30px;
	}

	.search-icon span {
		display: none;
	}

	.main_menu .logo img {
		width: 65px;
	}

	.pbmit-ihbox-style-7 .pbmit-ihbox-icon {
		margin-top: 15px;
	}

	.event-img1,
	.event-img2 {
		top: auto;
		position: relative;
		transform: translate3d(0px, 0px, 0px) !important;
	}

	.newsletter-box3 .button-2 {
		margin: 0 auto;
	}

	.application-area {
		padding: 0px;
	}

	.event-sec-two .owl-dots {
		display: none;
	}

	.banner-carousel .slide-item {
		padding: 150px 0px;
	}

	.button-slider {
		padding: 0px 15px 3px 15px;
		font-size: 13px;
	}

	.search-popup-modal .modal-dialog {
		width: auto;
	}

	.search-popup-modal .input-box input {
		font-size: 15px;
	}

	.search-popup-modal .input-box i {
		font-size: 15px;
	}

	.footer-address {
		padding-bottom: 10px;
	}

	.footer-contact {
		padding-bottom: 1px;
	}

	.footer-link {
		padding-bottom: 1px;
	}

	.pbmit-ihbox-style-7 .pbmit-element-title {
		font-size: 20px !important;
		line-height: 25px;
	}

	.reverse_col {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	.event-content {
		height: auto;
		display: block;
		margin-bottom: 10px;
	}

	.topbar-section {
		display: none;
	}

	.pbmit-blog-style-1 {
		margin-bottom: 20px;
	}

	.application-area .owl-carousel .owl-nav {
		display: none !important;
	}

	.page-title h2:after {
		display: none;
	}

	.event-sec-two .nav-tabs>li>a {
		font-size: 14px;
		padding: 10px 10px;
	}

	.event-sec-two .nav-tabs>li>a span {
		font-size: 20px;
		padding-right: 0px;
	}

	.certificate-logo {
		margin-bottom: 20px;
	}

	.footer-social ul {
		display: inline-block;
		position: relative;
		column: none;
	}

	.copyright-text-right {
		float: left;
	}

	.footer-social li {
		display: inline-block;
		position: relative;
	}

	.pbmit-ihbox-style-7 .pbmit-ihbox-box-number {
		bottom: 3px;
		right: -3px;
	}

	.products-details-box .pbmit-ihbox-style-7 .pbmit-element-title span {
		font-size: 15px;
	}

	.pbmit-ihbox-style-7 {
		margin-bottom: 30px;
	}

	.benefit-box-sec {
		margin-top: 0px;
		padding-top: 30px;
	}

	.banner-carousel .content-box .special-text {
		font-size: 100px;
		line-height: 100px;
		min-height: 100px;
		margin-bottom: 30px;
	}

	.banner-carousel .content-box h2 {
		font-size: 40px;
		line-height: 45px;
		/*height: 100px;*/
	}

	.banner-carousel .content-box p br {
		display: none;
	}

	.banner-carousel .content-box {
		margin-left: 0px;
		/*height: 200px;*/
	}

	.banner-style-three .slider-content .upper-box {
		padding-left: 30px;
		padding-right: 30px;
	}

	.banner-style-three .slider-content h2 {
		font-size: 40px;
		line-height: 50px;
	}

	.topbar-section:after {
		display: none;
	}

	.topbar-links {
		float: none;
	}

	.topbar-info ul {
		margin-bottom: 15px;
	}
	.google_map h3{
        font-size:18px;
    }
    body{
        font-size: 15px;
        line-height: 25px;
    }
    .contact-one__info__title{
        font-size:15px;
    }
    .careers-wrap-two .button-2 {
         margin-top: 15px;
    }
}

@media (max-width: 640px) {
	.banner-style-three .slider-content .btn-box a {
		width: 100%;
	}

	.banner-carousel .content-box h2 {
		font-size: 40px;
		line-height: 40px;
		padding-top:20px;
	}
}

@media (max-width: 480px) {
    .google_map h3{
        font-size:16px;
    }
	.service-block-one .inner-box .lower-content h3 {
		font-size: 15px;
		line-height: 19px;
	}

	.newsletter-box1 {
		gap: 10px;
	}

	.newsletter-box1 h2 {
		font-size: 15px;
		line-height: 20px;
	}

	.newsletter-box2 h2 {
		font-size: 15px;
		line-height: 20px;
	}

	.event-sec-two .pbmit_content {
		height: 230px;
	}

	.service-block-one .inner-box .lower-content {
		height: 80px;
		padding: 10px !important;
	}
	
	

	.event-sec-two .pbmit-content-wrapper p {
		font-size: 13px;
		line-height: 17px;
	}

	.event-sec-two .pbmit-blog-style-1 .pbmit-post-title {
		font-size: 17px !important;
		line-height: 18px;
	}

	.pbmit-ihbox-style-7 .pbmit-element-title {
		font-size: 17px !important;
		line-height: 20px;
	}
    .products-details-box .pbmit-ihbox-style-7 .pbmit-element-title span {
        font-size: 15px;
        line-height:22px;
    }
	.product_title h4 {
		font-size: 15px;
	}

	.product_title h5 {
		font-size: 12px;
	}

	.banner-carousel .content-box .special-text {
		font-size: 70px;
		line-height: 70px;
		min-height: 70px;
	}

	.banner-carousel .content-box .special-text {
		font-size: 70px;
		line-height: 70px;
		min-height: 70px;
	}

	.banner-carousel .content-box h4 {
		font-size: 17px;
	}

	.banner-carousel .content-box h2 {
		font-size: 25px;
		line-height: 25px;
	}

	.application-area .owl-dots {
		display: none;
	}

	.newsletter-row {
		/*text-align: center;*/
	}

	.newsletter-box1 {
		/*justify-content: center;*/
	}
}

@media (max-width: 360px) {
	.topbar-info ul li {
		padding-bottom: 10px;
	}
}

@media (max-width: 480px) {
    .service-block-one .inner-box .lower-content {
		height: 80px;
		padding: 10px !important;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .service-block-one .inner-box .lower-content {
        /* padding: 10px; */
        height: 75px;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .service-block-one .inner-box .lower-content {
        /* padding: 10px; */
        height: 75px;
        text-align: center;
    }
}